.footer {
    background-color: black;
    height: 270px;
    box-shadow: 0 0 10 10 gray;
 }

 .footer-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
 }
 .footer-img{
    padding-top: 80px;
 }
 .quick-links {
    height: 230px;
    width: 150px;
    color: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
 }
 .links{
 text-decoration: none;
 color: white;
 }

 .useful-links {
    height: 230px;
    width: 150px;
    color: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
  
 }

 .contact {
    height: 230px;
    width: 220px;
    color: white;
    padding: 20px 20px;
    text-align: center;
  
 }
 .footer-icon {
    height: 25px;
    margin: 10px;
    margin-top: 40px;
 }
